body {
    
    text-align: center;
    margin: auto;
}
header {
    background-color:#93FFAB;
}
table {
    text-align: center;
    margin: auto;
}
table th {
    background-color:#93FFAB;
    padding: 10px 20px;
   
}
 
table td {
    background-color: #E6FFE9;
    padding: 10px 20px;
    
}
footer {
    background-color:#93FFAB;
} 
.notice {
    background-color: #FFDBC9;
    padding: 5px;
}